/* Contenedores */

* {
    font-size: 14px;
    font-family: Calibri;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F1F1F1;
}

.container{
    height: 100vh;
    width: 100vw;
}

.user-container{
    width: 20%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.cuerpo {
    height: 92%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.filtros{
    margin: 15px 0;
    padding: 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: #81BF63;
    border-radius: 0 16px 16px 0;
}

.filtros__input{
    margin: 30px 0px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #707070;
    padding:10px;
    transition: all .1s;
}

.filtros__input:focus{
    outline: none;
    box-shadow: 0 0 1pt 1pt #5F4073;
}

.filtros__menu {
    color: #000;
    height: 50vh;
    padding:20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 30px;
}

.filtros__menu-rendimiento {
    color: #000;
    height: 33vh;
    padding:20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 30px;
}

.filtros__label-titulo {
    font-size: 18px;
    text-align: center;
    font-weight: 800;
}

.filtros__para-hoy {
    display: flex;
    align-items: center;
}

.filtros__checkbox {
    margin-left: 20px;
}

.filtros__maquina{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filtros__select {
    padding: 2px 10px;
    border-radius: 4px;
    color: #707070;
}

.filtros__select:focus {
    outline: none;
}

.filtros__prioridad {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
}

.filtros__boton{
    padding: 5px;
    text-align: center;
    height: 30px;
    width: 80px;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    transition: all .2s;
    text-decoration: none;
}

.filtros__boton:hover{
    background-color: #fff;
    color: #000;
}

.mantenimientos {
    margin: 60px 30px;
    display: grid;
    grid-template-columns:  repeat(5,1fr);
    height: 20%;
}

.rendimiento {
    margin: 60px 30px;
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    height: 20%;
}

.rendimiento__h2{
    font-size: 20px;
    grid-column: 1/6;
}


.mantenimientos__h2{
    font-size: 20px;
    grid-column: 1/6;
}

.mantenimientos__titulos {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 30px;
    background-color: #5F4073;
    margin: 35px .5px 10px;
    font-weight: 800;
}

.mantenimientos__fecha {
    grid-column: 1/2;
}

.mantenimientos__p {
    padding: 5px;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

