* {
    font-size: 16px;
    font-family: Calibri;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
    
}

body {
    background-color: #F1F1F1;
}

.container{
    height: 100vh;
}

.cuerpo{
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container__form{
    background-color: #61208C;
    height: 90%;
    width: 90%;
    border-radius: 1em;
}

.agregar-activo__formulario{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-grid{
    height: 38%;
    width: 70%;
    display: grid;
    
}


.agregar-activo__h2{
    grid-column: 1/2;
    font-size: 32px;
}

.container__input{
    margin-top: 10px;
    width: 300px;
    height: 30px;
    color: #000;
    padding: 0 5px;
}

.nombre-activo{
    grid-column: 1/2;
}

.container__descripcion{
    width: 85%;
    height: 50%;
}

.periodo-activo{
    grid-column: 2/2;
}

.habilidades{
    color: #000;
    margin-top: 10px;
    width: 50%;
}

.activos-botones{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.añadir-boton{
    padding: 5px;
    text-align: center;
    height: 30px;
    width: 150px;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    transition: all .2s;
    text-decoration: none;
    margin-left: 4rem;
}

.añadir-boton:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
    
}

.drop-zone{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 70%;

}

.add-image-text{
    margin-top: 2rem;
}

.subir-archivo{
    color:#000;
    padding: 0 2rem;
    margin-top:2rem;
}

.periodo-activo, .nombre-activo{
    height: 60%;
}